{% extends "base.html" %}
{% block content %}
<h2>Report Missing</h2>
<form action="/report" method="POST">
  <label>Your Mobile Number*</label>
  <input type="text" name="mobile" required>

  <label>Your WhatsApp Number*</label>
  <input type="text" name="whatsapp" required>

  <label>Missing Member Code (e.g., p2)</label>
  <input type="text" name="missing" required>

  <label>Description</label>
  <textarea name="desc"></textarea>

  <button type="submit">Report Missing</button>
</form>
{% endblock %}